<div class="mb-3 mt-5">
    <div class="row w-100">
        <div class="col-4">
            <ul>
                <li class="border-bottom"><h3><a href="#">General Informations</a></h3></li>
                <li class="border-bottom"><h3><a href="#">Change Email</a></h3></li>
                <li class="border-bottom"><h3><a href="#">Reste Password</a></h3></li>
            </ul>
        </div>
        <div class="col-8">
            <app-account-form></app-account-form>
        </div>
    </div>
</div>