<div class="wrapper" >
    <div class="main">
        <div class="section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col">
                        <h1> Cinemas</h1>
                    </div> 
                </div>
                <div>
                    <!-- <app-cinema-element></app-cinema-element> -->

                </div>
                    <!-- <div class="col-4 mx-auto">
                    
                    </div> -->
                </div>
            </div>
    </div>
</div>