* *::after *::before{
    box-sizing: border-box;
    margin: 0;
}

.cover-image-container{
    background-image: url("assets/img/profile-cover.jpg");
    background-position: center center;
    position: relative;
    z-index: 3;
}
.container{
    display: flex;
    align-items: center;
}

.profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 1px #ccc;
    align-self: center;
    margin-top: -100px;
    position: relative;
    z-index: 3;
}