    <div class="card-image">
        <!-- <img src="assets/img/uriel-soberanes.jpg" alt="cinema"> -->
            <img  src="../../../../assets//img//cinema.jpg" alt="cinema">
    </div>

    <div class="row">
        <div class="col-md-7 col-sm-6">
            <div class="cinemaImage ">
                <img [src]="cinema.imageUrl" alt="cinema">
            </div>
        </div>
        <div class="cinemaInfo col-md-5 col-sm-6">
            <div>
                <h2>
                    {{cinema.name}}
                </h2>
                <div>
                    {{cinema.description}}
                </div>
            </div>
            
            <div class="contact-info">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <p>adresse :</p>
                        <p>phone number :</p> 
                    </div>
                    <div class="col-md-6 col-sm-6">
                        {{cinema.address}}
                        {{cinema.phone}}
                    </div>

                </div>
           

            </div>
            
            name
            
             openingTime
            closingTime
        </div>

    </div>