<div class="card card-plain mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card-image">
                <img src="assets/img/uriel-soberanes.jpg" alt="cinema">
            </div>
        </div>

        <div class="col-md-7">
            <div  class="card-body">
                <h6  class="card-category text-info">
                    <span *ngIf="cinema.isOpen">Open</span>
                    <span *ngIf="!cinema.isOpen">Closed</span>
                </h6>
                <h3  class="card-title">
                    <a  href="#">
                        {{ cinema.name }}
                    </a>
                </h3>
                <!-- <p  class="card-description"> 
                    Sharing processing, display and sensors across smartphones and tethered smartglasses gives you two batteries, each powering fewer individual systems. If they’re connected by a cable, this could give a healthy bump to battery life — and… 
                    <a  href="#"> Read More </a>
                </p> -->

                <p  class="card-description"> 
                    {{ cinema.description }}
                    <a  [routerLink]="['/cinemas/'+cinema.id]"> Read More </a>
                </p>
        </div>
    </div>
</div>