<div class="px-2 signin-card align-items-center">
    <h1>Login</h1>
    <small class="text-muted">Sign in to your account</small>
    <form class="form-group py-2" #loginForm="ngForm">
        <div class="my-1">
            <label class="form-label" for="">Email</label>
            <input class="form-control" #emailInput="ngModel" ngModel type="text" required email name="email"
                placeholder="Your email">
            <app-error-message [text]="'Insert a valid email'" [condition]="emailInput.invalid && emailInput.touched">
            </app-error-message>
        </div>
        <div class="my-1">
            <label class="form-label" for="">Password</label>
            <input class="form-control" ngModel type="password" required minlength="5" name="password"
                #passwordInput="ngModel" placeholder="your password">
            <app-error-message [text]="'A password is at least 5 characters'"
                [condition]="passwordInput.invalid && passwordInput.touched"></app-error-message>
        </div>
        <button type="submit" class="btn btn-danger btn-block btn-round mt-3" (click)="login(loginForm)">Sign
            in</button>
    </form>
    <div class="d-block">
        <p>
            Don't have an account yet?
            <a [routerLink]="[ '/register/signup' ]">register</a>
        </p>
    </div>
</div>