




<div class="row">
    <div class="col-md-6 col-md-offset-3">
       

    </div>
    <div class="col-md-6 col-md-offset-3" style="padding: 20px;">
        <br><br><br>  <br><br>
     
        <h1  style="margin-bottom: 18px; ">Welcome to <span style="color: #c6000d;"> Watch Near</span></h1>
        <p style='color:black'>Our website description</p>

    </div>
</div>



<br><br>
<div id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>Contact Us</h4>
                    <div class="line-dec"></div>
                    <p>We are here to help and answer any question you might have. We look forward to hearing form you </p>
                    <div class="pop-button">
                        <h4 (click)='login()'>Send us a message</h4>
                    </div>
                </div>
            </div>
        </div>
        
       
    </div>
</div>

<app-footer></app-footer>